* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-top: 20px;
  margin: 2%;
  background: linear-gradient(135deg, #0b0b0b, #171717);
}

/* Movie card container */
.Home-container {
  display: grid;
  gap: 20px;
  padding: 20px;
  width: 100%;
  justify-content: center;
  grid-template-columns: repeat(
    auto-fill,
    minmax(250px, 1fr)
  ); /* Responsive grid layout */
}

/* Title styling */
.tst {
  margin: 20px 0;
  text-align: center;
  color: #000000;
  font-size: 24px;
  font-weight: bold;
}

/* Media Queries */
@media (max-width: 1024px) {
  .Home-container {
    gap: 15px;
    grid-template-columns: repeat(
      auto-fill,
      minmax(200px, 1fr)
    ); /* Adjust grid size for larger screens */
  }
}

@media (max-width: 768px) {
  .Home-container {
    gap: 10px;
    grid-template-columns: repeat(
      auto-fill,
      minmax(180px, 1fr)
    ); /* Adjust grid for tablets */
  }

  .tst {
    font-size: 20px; /* Reduce font size on smaller screens */
  }
}

@media (max-width: 480px) {
  .Home-container {
    gap: 5px;
    grid-template-columns: repeat(
      auto-fill,
      minmax(150px, 1fr)
    ); /* Adjust grid for small screens */
  }

  .tst {
    font-size: 18px; /* Further reduce font size for smaller screens */
  }
}
